<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Ability Name"/>
        </h1>
        <div class="item-subtitle">
          <h4 class="item-type">{{item.type.toUpperCase}}</h4>
          <select name="system.abilityType">
            {{#select system.abilityType}}
            {{#each config.abilityTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
      <a class="item" data-tab="details">Details</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
      </div>

      {{!-- Details Tab --}}
      <div class="tab details" data-group="primary" data-tab="details">
        <div class="grid grid-2col">
          <div class="ability-properties">
            <h3>Ability Properties</h3>
            <div class="form-group">
              <label>Ability Source</label>
              <select name="system.source">
                {{#select system.source}}
                {{#each config.magicSources as |name source|}}
                <option value="{{source}}">{{name}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>

            <div class="form-group">
              <label>Willpower Cost</label>
              <input type="number" name="system.wpCost" value="{{system.wpCost}}" min="0"/>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
