<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Weapon Name"/>
        </h1>
        <div class="item-subtitle">
          <h4 class="item-type">{{item.type.toUpperCase}}</h4>
          <select name="system.weaponType" id="weapon-type-select">
            {{#select system.weaponType}}
            {{#each config.weaponTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <div class="weapon-subtype">
            <label>Weapon Subtype</label>
            <select name="system.weaponSubtype" id="weapon-subtype-select">
              {{#select system.weaponSubtype}}
              {{#if system.weaponType}}
                {{#each (lookup ../config.weaponSubtypes system.weaponType) as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
              {{/if}}
              {{/select}}
            </select>
          </div>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
      <a class="item" data-tab="details">Details</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
      </div>

      {{!-- Details Tab --}}
      <div class="tab details" data-group="primary" data-tab="details">
        <div class="grid grid-2col">
          <div class="weapon-properties">
            <h3>Weapon Properties</h3>
            <div class="form-group">
              <label>Equipped</label>
              <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
            </div>

            <div class="form-group">
              <label>Weight</label>
              <input type="number" name="system.weight" value="{{system.weight}}"/>
            </div>

            <div class="form-group">
              <label>Range (feet)</label>
              <div class="form-fields">
                <input type="number" name="system.range.value" value="{{system.range.value}}"/>
                <span>/</span>
                <input type="number" name="system.range.max" value="{{system.range.max}}"/>
              </div>
            </div>

            <div class="form-group">
              <label>Properties</label>
              <div class="form-fields weapon-props">
                {{#each config.weaponProperties as |name prop|}}
                <label class="checkbox">
                  <input type="checkbox" name="system.weaponProperties.{{prop}}" {{checked (lookup ../system.weaponProperties prop)}}/>
                  {{name}}
                </label>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="weapon-damage">
            <h3>Damage & Attack</h3>
            <div class="form-group">
              <label>Damage Formula</label>
              <input type="text" name="system.damage.formula" value="{{system.damage.formula}}"/>
            </div>

            <div class="form-group">
              <label>Damage Type</label>
              <select name="system.damage.type">
                {{#select system.damage.type}}
                {{#each config.damageTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>

            <div class="form-group">
              <label>Attack Attribute</label>
              <select name="system.attackBonus.attribute">
                {{#select system.attackBonus.attribute}}
                <option value="str">Strength</option>
                <option value="dex">Dexterity</option>
                {{/select}}
              </select>
            </div>

            <div class="form-group">
              <label>Attack Bonus</label>
              <div class="form-fields">
                <input type="text" name="system.attackBonus.value" value="{{system.attackBonus.value}}" placeholder="0"/>
              </div>
            </div>
          </div>
        </div>

        <div class="materials-section">
          <h3>Materials</h3>
          <div class="grid grid-3col">
            <div class="form-group">
              <label>Primary Material</label>
              <div class="form-fields">
                <select name="system.materials.primary.category" class="material-category" data-target="primary">
                  {{#select system.materials.primary.category}}
                  <option value="">None</option>
                  <option value="metals">Metals</option>
                  <option value="woods">Woods</option>
                  <option value="stones">Stones</option>
                  <option value="animal">Animal Materials</option>
                  <option value="fabrics">Fabrics</option>
                  <option value="essences">Magical Essences</option>
                  <option value="gems">Gems</option>
                  {{/select}}
                </select>
                <select name="system.materials.primary.type" class="material-type" id="primary-material-type">
                  {{#select system.materials.primary.type}}
                  <option value="">Select Type</option>
                  {{#if system.materials.primary.category}}
                    {{#each (lookup ../config.materials system.materials.primary.category) as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                  {{/if}}
                  {{/select}}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label>Secondary Material</label>
              <div class="form-fields">
                <select name="system.materials.secondary.category" class="material-category" data-target="secondary">
                  {{#select system.materials.secondary.category}}
                  <option value="">None</option>
                  <option value="metals">Metals</option>
                  <option value="woods">Woods</option>
                  <option value="stones">Stones</option>
                  <option value="animal">Animal Materials</option>
                  <option value="fabrics">Fabrics</option>
                  <option value="essences">Magical Essences</option>
                  <option value="gems">Gems</option>
                  {{/select}}
                </select>
                <select name="system.materials.secondary.type" class="material-type" id="secondary-material-type">
                  {{#select system.materials.secondary.type}}
                  <option value="">Select Type</option>
                  {{#if system.materials.secondary.category}}
                    {{#each (lookup ../config.materials system.materials.secondary.category) as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                  {{/if}}
                  {{/select}}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label>Decoration</label>
              <div class="form-fields">
                <select name="system.materials.decoration.category" class="material-category" data-target="decoration">
                  {{#select system.materials.decoration.category}}
                  <option value="">None</option>
                  <option value="metals">Metals</option>
                  <option value="woods">Woods</option>
                  <option value="stones">Stones</option>
                  <option value="animal">Animal Materials</option>
                  <option value="fabrics">Fabrics</option>
                  <option value="essences">Magical Essences</option>
                  <option value="gems">Gems</option>
                  {{/select}}
                </select>
                <select name="system.materials.decoration.type" class="material-type" id="decoration-material-type">
                  {{#select system.materials.decoration.type}}
                  <option value="">Select Type</option>
                  {{#if system.materials.decoration.category}}
                    {{#each (lookup ../config.materials system.materials.decoration.category) as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                  {{/if}}
                  {{/select}}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
